
<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "styles.css">
    <title> شركة انتاج الحليب </title>
</head>
<body>
<h1 id="homeTitle">شركة انتاج الحليب </h1>
<nav>
  <ul>
    <li><a href="milkProduction"> تسجيل انتاج الحليب اليومي </a></li>
    <li><a href="birthRegistration"> تسجيل الولادات</a></li>
    <li><a href="medicalExamination">تسجيل الفحص الطبي  </a></li>
    <li id="regcow"><a href="cowRegistration"> تسجيل البقر </a></li>
  </ul>
</nav>
<footer>
    Copyright &copy; Belabdi Malak 2022
</footer>
</body>
</html>
