
<%- include("./partials/header.ejs") %>
<h1 id="homeTitle">شركة انتاج الحليب </h1>
<nav>
  <ul>
    <li><a href="milkProduction"> تسجيل انتاج الحليب اليومي </a></li>
    <li><a href="birthRegistration"> تسجيل الولادات</a></li>
    <li><a href="medicalExamination">تسجيل الفحص الطبي  </a></li>
    <li id="regcow"><a href="cowRegistration"> تسجيل البقر </a></li>
  </ul>
</nav>
<%- include("./partials/footer.ejs") %>

