<%- include("./partials/header.ejs") %>
<div class="home"><a href="./home">الصفحة الرئيسية</a></div>
<h1>تسجيل الفحص الطبي  للبقر</h1>
<form action="/medicalExamination" method="post" class="wrapper">
    <div>
        <input type="text" name="illness" placeholder="... ادخل اسم المرض"  oninvalid="this.setCustomValidity('من فضلك ادخل اسم المرض')" required />
        <label id="label8" for="illness">المرض</label>
    </div>
    <div>
        <input type="date" name="examination_date" class="date" required />
        <label id="label9" for="examination_date">يوم الفحص</label>
    </div>
    <button  class="btn1">تسجيل </button>
</form>

<form method="get" action="/medData">
    <button class="btn2">قائمة الفحوصات </button>
</form>

<script type="text/javascript">

    //set date to the current date
    let currentDate = new Date();
    let m = currentDate.getMonth()+1
    let y =currentDate.getFullYear()
    let d = currentDate.getDate()

    if(m<10){m = '0'+m};  if(d<10){d = '0'+d};

    let today =y +'-'+m+ '-' + d
    document.querySelector('.date').value = today

</script>
<%- include("./partials/footer.ejs") %>
